.Wrapper
  .Side-bar
    .Side-header
      .Side-list    
        .Side-list__usernames
          techchanmp
        .Side-list__iconlist
          = link_to "#" ,class: "Side-list__iconlist" do
            = icon('fas', 'edit', class: "Side-list__edit")
          = link_to "#" ,class: "Side-list__iconlist" do
            = icon('fas', 'cog', class: "Side-list__cog")
    .Side-group
      .Side-group__name
        techchamp
      .Side-group__message
        まだメッセージがありません
                  