* {
  box-sizing: border-box;
}
.wrapper {
  display:flex;
}

.Side-bar{
  width: 300px;
  .Side-header {
    height: 100px;  
    display: flex;
    align-items: center;
    padding:0 20px;
    background-color:#253141;
    .Side-list {
      height: 20px;
      width: 260px;
      display:flex;
      justify-content: space-between;
      color:#ffffff;
      &__usernames {
        font-weight: bold;
        font-size:16px;
        justify-content: start;
      }
      &__iconlist {
        display:flex;
        justify-content: end;
        color:#ffffff;
        text-decoration: none;
        margin-left: 5px;
        }
      }
    }
  }
     
  .Side-group {
    background-color: #2f3e51;
    height: 100vh;
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
    
    &__name {
      font-size: 15px;
      color: #ffffff;
    }
    &__message {
      font-size: 11px;
      margin:5px 0 0 0;
      color: #ffffff;
    }
    .group {
      text-decoration: none;
    }
  }
.Main-chat{
  &__Right-header {
    height: 100px;
    width:calc(100vw - 300px);
    background-color: #ffffff;
    display:flex;
    border-bottom: 1px solid #eeeeee;
    justify-content: space-between;
    padding:0 40px;
      &__groupname {
        color:#333333;
        font-size: 20px;
        margin: 35px 0 0 0;
      }
      &__memberlist {
        color: #999999;
        display:flex;
        font-size: 12px;
        margin-top: 15px;
      }
  
  }
}
.Right-header__editbutton {
  font-size: 16px;
  width: 72px;
  height: 40px;
  display: block;
  color:#38aef0; 
  margin-top:28px;
  border: 1px solid#38aef0;
  text-decoration: none;
  padding: 0 20px;
  line-height:40px;
}
.Main-chat__messagebox {
  background-color: #fafafa;
    box-sizing: border-box;
    margin-bottom: 46px;
    padding: 35px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
  &__info{
    display:flex;
    &__username {
      color:#434a54;
      font-size: 16px;
      font-weight: bold;
    }
    &__date{
      color:#999999;
      font-size: 12px;
      padding-left: 10px;
    }
  &__content {
    color: #434a54;
    font-size: 14px;
    margin-top: 12px;
    display: flex;
    }
  }
}
.Message__image {
  height: 300px;
}
.p {
  display:block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.Main-chat__footer {
  height: 90px;
  width: calc(100vw - 300px);
  padding: 20px 50px 20px 40px;
  background-color: #dddddd;
  .Form__contents {
    width: 100%;
    display:flex;
    justify-content:space-between;

    .Form__inputbox {
      position: relative;
      width:100%;
      .Form__inputtext {
        padding: 0 45px 0 15px;
        height: 50px;
        width: 100%;
        border:none;
      }
      .Form__inputimage { 
        height: 50px;  
        .Contents__btn--icon{
          position: absolute;
          top:20px;
          right:15px;
        }
        .A{
          display:none;
        }
      }
    }
    .Form__submitBtn {
      background-color: #38AEF0;
      border: none;
      color: #fff;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}
